* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #333333;
  font-weight: bold;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
  margin: 0 auto;
  border: 10px solid #b3bcc8;
  padding: 10px;
  border-radius: 5px;
}

/* =========== select ===========*/

#select-container {
  margin: 10px;
  width: 100%;
}

#semester-select {
  padding: 5px;
  padding-right: 150px;
  border: 1px solid #afbcc9;
  border-radius: 5px;
  cursor: pointer;
}

select:focus {
  outline: none;
}
/* =============================== */

/* =========== buttons ===========*/
#button-container {
  width: 100%;
  padding: 5px;
  border: 1px solid #eeeeef;
  display: flex;
  justify-content: space-between;
}

button {
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

#schedule-button,
#detail-button,
#print-button {
  padding: 10px;
}

.disabled {
  background-color: #939598;
  color: white;
  cursor: default;
}
/* =============================== */

/* title */
#semester-title {
  width: 100%;
  background-color: #edf0f4;
  padding: 10px;
}

/* =========== sections ===========*/
#schedule-container {
  width: 100%;
}

#schedule-timetable,
#schedule-details {
  display: flex;
  justify-content: center;
  height: 70vh;
  overflow: auto;
  width: 100%;
}
/* =============================== */

/* =========== table ===========*/
.table {
  display: grid;
  grid-template-columns: 100px repeat(7, 1fr);
  grid-template-rows: repeat(30, auto);
  margin: 0 auto;
  position: relative;
  font-size: 13px;
  text-align: center;
}

[class^="cell-"] {
  border: 1px solid #dddddd;
  height: 40px;
  border-radius: 2px;
  text-align: center;
  padding: 5px;
  outline: 1px solid #dddddd;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* =============================== */

/* course block */
.course-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  align-items: center;
  text-align: center;
  font-size: 13px;
  padding: 20px;
  background-color: white;
  border-radius: 2px;
  z-index: 10;
  text-decoration: none;
  transition: 0.2s;
}

.course-block:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.detail-block-bottom {
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dashed #d9d9d9;
  display: flex;
}


a{
  color: #2B7DA1;
}