* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.course-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: fit-content;
  height: fit-content;
  margin: 10px;
  padding: 10px;
  background-color: white;
  border: 1px solid #333333;
  border-radius: 10px;
}
